

    <section id="portfolio">
        @await Html.PartialAsync("_Carrousel")
    </section>

    <br />

    <section id="contato">
        <div class="row">
        <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                <h4> &copy; 2022 - Ecommerce </h4>
                <p class="text-justify">
                    A Mercedes-Benz é uma marca alemã de automóveis pertencente a Mercedes-Benz Group criada em 1924, sendo resultado de uma fusão entre a Benz & Cie. e a Daimler-Motoren-Gesellschaft. É a mais antiga empresa de automóveis e veículos comerciais da Alemanha e do mundo
                </p>
            </div>

        <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                <h4>Tem alguma dúvida ?</h4>
                <ul class="list-unstyled">
                    <li class="py-1"> Av. Alfred Jurzykowski, 562 - Paulicéia, São Bernardo do Campo - SP, 09680-900</li>
                    <li class="py-1"> +55 11 - 99999-9999</li>
                    <li class="py-1" style="color: white">caio.souza@t-systems.com</li>
                </ul>
            </div>
        </div>
    </section>

</div>