<div class="row text-center">
    <h2>Produtos</h2>
</div>

<div class="container">
    <section id="sobre">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <img src="~/images/leiaute/icons8-love-50.png" />
                <h3>Feitos com amor</h3>
                <p class="text-muted">Fazemos seu lanche com carinho.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <img src="~/images/leiaute/icons8-get-dressed-50.png" />
                <h3>Prontos para entrega</h3>
                <p class="text-muted">Entregamos o seu pedido</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <img src="~/images/leiaute/icons8-desconto-48.png" />
                <h3>Preços Camaradas </h3>
                <p class="text-muted">Promoções imperdíveis.</p>
            </div>

        </div>
    </section>

    <section id="portfolio">
        @await Html.PartialAsync("_Carrousel")
    </section>

    <br />

    <section id="contato">
        <div class="row">
            <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                <h4> &copy; 2022 - ABC ELETRODOS SOLDAS E ABRASIVOS</h4>
                <p class="text-justify">
                    Somos uma empresa, que entende e respeita seus clientes<br>
                    Estamos a 6 anos no mercado de soldas além de materiais para sua casa e Construção.
                </p>
            </div>

            <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                <h4>Tem alguma dúvida ?</h4>
                <ul class="list-unstyled">
                    <li class="py-1"> Rua Alegre, 546 São Caetano Do Sul</li>
                    <li class="py-1"> +55 11 - 2311-5900</li>
                    <li class="py-1" style="color: white">soldasabc@gmail.com</li>
                </ul>
            </div>
        </div>
    </section>

</div>